    @import 'aos/dist/aos.css';

    body {
        /* min-height: 500vh; */
        font-family: 'Poppins', sans-serif;
    }

    /* font*/
    .fs-1 {
        font-size:calc(1.375rem + 1.5vw)!important
    }
    .fs-2 {
        font-size:calc(1.325rem + .9vw)!important
    }
    .fs-3 { 
        font-size:calc(1.3rem + .6vw)!important
    }
    .fs-4 { 
        font-size:calc(1.275rem + .3vw)!important
    }
    .fs-5 { 
        font-size:1.25rem!important
    }
    .fs-6 { 
        font-size:1rem!important
    }
    
    .fw-light{font-weight:300!important}.fw-lighter{font-weight:lighter!important}.fw-normal{font-weight:400!important}.fw-bold{font-weight:700!important}.fw-bolder{font-weight:bolder!important}
    
    .text-yellow{
        color: yellow;
        text-shadow: 1px 1px 2px #333;
    }


    /* NavBar */

    .navbar {
        transition: all 0.2s ease-in-out;
        background: transparent;
        font-weight: 600;
        position: fixed;
    }
    .navbar.onScroll {
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 10px #aaa;
        background-color: white;
    }

    .navbar-brand {
        transition: all 0.2s ease-in-out;
        color:white;
        text-shadow: 2px 2px 2px #000000;
        text-decoration: none;
    }
    .navbar-brand:hover {
        transition: all 0.2s ease-in-out;
        color:white;
    }
    .navbar-brand.onScroll {
        transition: all 0.2s ease-in-out;
        color:black;
        text-shadow: none;
    }
  

    .nav-link {
        transition: all 0.2s ease-in-out;
        color:white;
        text-shadow: 2px 2px 2px #000000;
        text-decoration: none;
        position: fixed;
    }
    .nav-link:hover, .nav-link:focus {
        transition: all 0.2s ease-in-out;
        color:yellow;
        position: fixed;
    }
    .nav-link.onScroll {
        transition: all 0.2s ease-in-out;
        color:black;
        text-shadow: none;
        position: fixed;
    }
    .nav-link.onScroll:hover, .nav-link.onScroll:focus {
        transition: all 0.2s ease-in-out;
        color: #0d6efd;
        position: fixed;
    }

    i.fas-color{
        transition: all 0.2s ease-in-out;
        color: white;
    }
    i.fas-color.onScroll{
        transition: all 0.2s ease-in-out;
        color: black;
    }

    /* @media screen and (max-width: 768px) {
        .navbar-brand{
            display: none;
        }
    } */

    /* MiddleView */

    #bodyMdView {
        height: 205vh;
        background-color: white;
    }
    .fs-6 {
        padding-top: 0.5rem;
    }

    
    /* FooterView  */
    #bodyFtView{
        height: 20vh;
        background-color: rgba(49, 49, 49, 1);
    }
    .logo{
        padding-right: 0.5rem;
        padding-left: 3rem;
    }